<div class="table-container">
    <h1 name="" class="stat-title">ALL TIME STATS</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe.Games}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland.Games}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini.Games}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.Goals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland.Goals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini.Goals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="haaland-text">{{haaland.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="vini-text">{{vini.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.Assists}}<br><span class="stat-name">ASSIST</span></td>
                <td class="haaland-text">{{haaland.Assists}}<br><span class="stat-name">ASSIST</span></td>
                <td class="vini-text">{{vini.Assists}}<br><span class="stat-name">ASSIST</span></td>
            </tr>

        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="all_time" >UPDATE</button>
    {{/if}}
</div>
</div>


<div class="table-container" id="goal">
    <h1 name="club" class="stat-title">GOALSCORING STATS</h1>
    <h2 name="club" class="stat-title2">(Braces, Hattricks & Poker)</h2>

    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.braces}}<br><span class="stat-name">BRACE</span></td>
                <td class="haaland-text">{{haaland.braces}}<br><span class="stat-name">BRACE</span></td>
                <td class="vini-text">{{vini.braces}}<br><span class="stat-name">BRACE</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.hattrics}}<br><span class="stat-name">HATTRICK</span></td>
                <td class="haaland-text">{{haaland.hattrics}}<br><span class="stat-name">HATTRICK</span></td>
                <td class="vini-text">{{vini.hattrics}}<br><span class="stat-name">HATTRICK</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.poker}}<br><span class="stat-name">POKER</span></td>
                <td class="haaland-text">{{haaland.poker}}<br><span class="stat-name">POKER</span></td>
                <td class="vini-text">{{vini.poker}}<br><span class="stat-name">POKER</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="club" class="stat-title">GOALS BY TYPE</h1>

    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe.Games}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland.Games}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini.Games}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.fkGoals}}<br><span class="stat-name">FREEKICK GOALS</span></td>
                <td class="haaland-text">{{haaland.fkGoals}}<br><span class="stat-name">FREEKICK GOALS</span></td>
                <td class="vini-text">{{vini.fkGoals}}<br><span class="stat-name">FREEKICK GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.penaltyGoals}}<br><span class="stat-name">PENALTY GOALS</span></td>
                <td class="haaland-text">{{haaland.penaltyGoals}}<br><span class="stat-name">PENALTY GOALS</span></td>
                <td class="vini-text">{{vini.penaltyGoals}}<br><span class="stat-name">PENALTY GOALS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="all_time">UPDATE</button>
    {{/if}}
</div>

<div class="table-container" id="final">
    <h1 name="int" class="stat-title">ALL TIME STATS IN FINALS</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini.finalGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini.finalGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe.finalAssist}}<br><span class="stat-name">ASSIST</span></td>
                <td class="haaland-text">{{haaland.finalAssist}}<br><span class="stat-name">ASSIST</span></td>
                <td class="vini-text">{{vini.finalAssist}}<br><span class="stat-name">ASSIST</span></td>
            </tr>
        </tbody>
    </table>

    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="final" table="all_time">UPDATE</button>
    {{/if}}
</div>
{{>sts-update}}

<script>

    window.addEventListener('DOMContentLoaded', () => {
        const hash = window.location.hash;

        if (hash === '#goal', 'final') {
            const target = document.querySelector(hash);
            if (!target) return;

            const offset = 80; // adjust if you have a fixed header
            const duration = 1000;

            const targetPosition = target.getBoundingClientRect().top + window.scrollY - offset;
            const startPosition = window.scrollY;
            const distance = targetPosition - startPosition;
            let startTime = null;

            function animation(currentTime) {
                if (!startTime) startTime = currentTime;
                const timeElapsed = currentTime - startTime;
                const run = easeInOutQuad(timeElapsed, startPosition, distance, duration);
                window.scrollTo(0, run);
                if (timeElapsed < duration) requestAnimationFrame(animation);
            }

            function easeInOutQuad(t, b, c, d) {
                t /= d / 2;
                if (t < 1) return c / 2 * t * t + b;
                t--;
                return -c / 2 * (t * (t - 2) - 1) + b;
            }

            requestAnimationFrame(animation);
        }
    });

   document.querySelectorAll('.Dt-btn2').forEach(button => {
        button.addEventListener('click', function () {
            const container = this.closest('.table-container'); // Locate the current section
            if (!container) return;

            const table = container.querySelector('table'); // Find the table inside this section
            const hiddenRows = table.querySelectorAll('.extra-row'); // Find hidden rows

            hiddenRows.forEach(row => {
                row.style.display = 'table-row'; // Show row
                row.style.animation = 'slideDown 0.4s ease'; // Optional animation
            });

            this.style.display = 'none'; // Hide "More" button
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll("a.dynamic-link");
        const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

        links.forEach(link => {
            const originalHref = link.getAttribute("href");

            // If it's already absolute or an external link, skip
            if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

            // Update href to include current path
            link.setAttribute("href", `${basePath}/${originalHref}`);
        });
    });


   
</script>