<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords"
    content="Mbappe vs Haaland, Copa America stats, Euro stats, World Cup goals, Vinicius Junior, football player comparison, Mbappe vs Vinicius, Haaland vs Mbappe">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:url" content="https://mhvstats.xyz/int-stats/{{@root._locals.originalUrl}}">
<meta name="robots" content="index, follow">


<div class="table-container">
    <h1 name="" class="stat-title">ALL TIME Copa América/Euro Cup STATS</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_all.cuGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_all.cuGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_all.cuGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_all.cuGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_all.cuGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_all.cuGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_all.cuGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{ haaland_all.cuGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{ vini_all.cuGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_all.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_all.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_all.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_all.cuCC }}<br><span class="stat-name">CHANCE CREATED</span></td>
                <td class="stat-text">{{ haaland_all.cuCC }}<br><span class="stat-name">CHANCE CREATED</span></td>
                <td class="stat-text">{{ vini_all.cuCC }}<br><span class="stat-name">CHANCE CREATED</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_all.cuShot }}<br><span class="stat-name">SHOT ON TARGET</span></td>
                <td class="stat-text">{{ haaland_all.cuShot }}<br><span class="stat-name">SHOT ON TARGET</span></td>
                <td class="stat-text">{{ vini_all.cuShot }}<br><span class="stat-name">SHOT ON TARGET</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_all.cuBCC }}<br><span class="stat-name">BIG CHANCES CREATED</span></td>
                <td class="stat-text">{{ haaland_all.cuBCC }}<br><span class="stat-name">BIG CHANCES CREATED</span></td>
                <td class="stat-text">{{ vini_all.cuBCC }}<br><span class="stat-name">BIG CHANCES CREATED</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_all.cudribbles }}<br><span class="stat-name">SUCCESSFUL DRIBBLES</span>
                </td>
                <td class="stat-text">{{ haaland_all.cudribbles }}<br><span class="stat-name">SUCCESSFUL DRIBBLES</span>
                </td>
                <td class="stat-text">{{ vini_all.cudribbles }}<br><span class="stat-name">SUCCESSFUL DRIBBLES</span>
                </td>
            </tr>

        </tbody>
    </table>

    {{!-- <button class="Dt-btn2" id="showMoreBtn">More</button> --}}
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="copa_euro">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">COPA/EURO KNOCKOUTS</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_cu.koGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland_cu.koGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini_cu.koGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.koGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland_cu.koGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini_cu.koGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland_cu.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini_cu.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="ko" table="copa_euro">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">COPA/EURO GROUP STAGE</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_cu.gsGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland_cu.gsGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini_cu.gsGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.gsGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland_cu.gsGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini_cu.gsGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland_cu.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini_cu.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="gs" table="copa_euro">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">COPA/EURO SEMI FINAL</h2>


    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_cu.semiGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland_cu.semiGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini_cu.semiGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.semiGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland_cu.semiGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini_cu.semiGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland_cu.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini_cu.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>
    <button class="Dt-btn"><a class="dynamic-link" href="club-stats">Detailed World Cup Stats</a></button>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="semi" table="copa_euro">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">COPA/EURO SEMI+FINAL</h2>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_cu.sfGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland_cu.sfGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini_cu.sfGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.sfGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland_cu.sfGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini_cu.sfGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland_cu.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini_cu.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="sf" table="copa_euro">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">COPA/EURO FINAL</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_cu.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland_cu.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini_cu.finalGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland_cu.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini_cu.finalGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland_cu.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini_cu.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="final" table="copa_euro">UPDATE</button>
    {{/if}}
</div>


<div class="table-container">
    <h2 name="int" class="stat-title">COPA/EURO INDIVIDUAL ACHIEVEMENTS</h2>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_cu_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
                <td class="stat-text">{{haaland_cu_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
                <td class="stat-text">{{vini_cu_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
                <td class="stat-text">{{haaland_cu_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
                <td class="stat-text">{{vini_cu_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu_ach.pott}}<br><span class="stat-name">POTT</span></td>
                <td class="stat-text">{{haaland_cu_ach.pott}}<br><span class="stat-name">POTT</span></td>
                <td class="stat-text">{{vini_cu_ach.pott}}<br><span class="stat-name">POTT</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_cu_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
                <td class="stat-text">{{haaland_cu_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
                <td class="stat-text">{{vini_cu_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
            </tr>


        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="copa_euro">UPDATE</button>
    {{/if}}
</div>

{{>sts-update}}

<section class="performance-insight">
    <div class="insight-box">

        <h3 class="insight-title">
            <span class="accent-bar"></span>
            Who is more Impressive in Continental Competitions?
        </h3>

        <p class="insight-text">
            In continental competitions like the Euro Cup and Copa América, none of the three players has produced
            dominant numbers so far, especially when compared to their impact at club level or the World Cup. Kylian
            Mbappé has had only a decent return at the Euros,<span class="highlight">scoring 1 goal and 2 assists in 9
                appearances </span>, which is
            below his usual standards. Vinícius Júnior has <span class="highlight">played 7 matches at the Copa América,
                scoring 2 goals, </span>
            showing involvement but not a standout tournament performance. Erling Haaland has not played in any
            continental tournament, as Norway have not qualified.
        </p>

        <p class="insight-text">
            Overall, continental competitions have not yet been a strong separator between them, with none delivering
            performances close to their peak levels seen elsewhere.
        </p>

    </div>
</section>



<script>


    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll("a.dynamic-link");
        const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

        links.forEach(link => {
            const originalHref = link.getAttribute("href");

            // If it's already absolute or an external link, skip
            if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

            // Update href to include current path
            link.setAttribute("href", `${basePath}/${originalHref}`);
        });
    });



</script>