<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords"
    content="Mbappe vs Haaland, Haaland vs Vinicius, Mbappe stats, Haaland stats, Vinicius stats, football comparison, Champions League stats, World Cup stats">
<meta name="robots" content="index, follow">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://mhvstats.xyz{{@root._locals.originalUrl}}">


<h1 name="" id="clubComp" class="stat-titleabove">INTERNATIONAL STATS</h1>
<h2 name="club" class="stat-title2">(For National Team)</h2>


<div class="table-container">
    <h1 name="" class="stat-title">ALL TIME INTERNATIONAL</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_all.intGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland_all.intGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini_all.intGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_all.intGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland_all.intGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini_all.intGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_all.intGoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{haaland_all.intGoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{vini_all.intGoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_all.intAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_all.intAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_all.intAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="int" table="all_time">UPDATE</button>
    {{/if}}
</div>

<div class="footer3-card" onclick="location.href='/int-stats#int-comp'">
    <span>Stats By International Competitions</span>
    <span class="footer2-arrow">&#8594;</span>
</div>
<div class="footer3-card" onclick="location.href='/int-stats#unl'">
    <span>UEFA NATIONS LEAGUE STATS</span>
    <span class="footer2-arrow">&#8594;</span>
</div>

<section id="graph-section">
    <!-- Season Toggle -->
    <div class="toggle-row">
        <div class="toggle-box" id="modeToggle">
            <button class="toggle-btn active" id="seasonBtn">All Time</button>
            <button class="toggle-btn" id="allTimeBtn">Competitive Games</button>
        </div>
    </div>

    <!-- Graph -->
    <div id="chartWrapper" class="chart-fade">
        <div id="progressGraph"></div>
    </div>



    <!-- Stats Toggle -->
    <div class="toggle-row">
        <div class="toggle-box" id="statToggle">
            <button class="toggle-btn" id="goalsBtn">Goals</button>
            <button class="toggle-btn" id="gplusBtn">G+</button>
            <button class="toggle-btn" id="assistsBtn">Assists</button>
        </div>

    </div>

</section>

<div class="footer3-card" onclick="location.href='/#graph-section'">
  <span>All Time Stats Graph</span>
  <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container">
    <h1 name="top10" class="stat-title">vs Top 10 Ranked Teams</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top10Games }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr1.top10Games }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr1.top10Games }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top10Goals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr1.top10Goals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr1.top10Goals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top10GoalRatio }}<br><span class="stat-name">GOAL RATIO</span>
                </td>
                <td class="stat-text">{{ haaland_intr1.top10GoalRatio }}<br><span class="stat-name">GOAL RATIO</span>
                </td>
                <td class="stat-text">{{ vini_intr1.top10GoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>

            <tr>
                <td class="stat-text">{{ mbappe_intr1.top10Assists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr1.top10Assists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr1.top10Assists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top10GA }}<br><span class="stat-name">G+A</span></td>
                <td class="stat-text">{{ haaland_intr1.top10GA }}<br><span class="stat-name">G+A</span></td>
                <td class="stat-text">{{ vini_intr1.top10GA }}<br><span class="stat-name">G+A</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="mejor" table="intr">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="top20" class="stat-title">vs Top 20 Ranked Teams</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top20Games }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr1.top20Games }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr1.top20Games }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top20Goals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr1.top20Goals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr1.top20Goals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top20GoalRatio }}<br><span class="stat-name">GOAL RATIO</span>
                </td>
                <td class="stat-text">{{ haaland_intr1.top20GoalRatio }}<br><span class="stat-name">GOAL RATIO</span>
                </td>
                <td class="stat-text">{{ vini_intr1.top20GoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top20Assists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr1.top20Assists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr1.top20Assists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top20GA }}<br><span class="stat-name">G+A</span></td>
                <td class="stat-text">{{ haaland_intr1.top20GA }}<br><span class="stat-name">G+A</span></td>
                <td class="stat-text">{{ vini_intr1.top20GA }}<br><span class="stat-name">G+A</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="mejor" table="intr">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="top40" class="stat-title">vs Top 40 Ranked Teams</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top40Games }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr1.top40Games }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr1.top40Games }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top40Goals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr1.top40Goals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr1.top40Goals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top40GoalRatio }}<br><span class="stat-name">GOAL RATIO</span>
                </td>
                <td class="stat-text">{{ haaland_intr1.top40GoalRatio }}<br><span class="stat-name">GOAL RATIO</span>
                </td>
                <td class="stat-text">{{ vini_intr1.top40GoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top40Assists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr1.top40Assists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr1.top40Assists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.top40GA }}<br><span class="stat-name">G+A</span></td>
                <td class="stat-text">{{ haaland_intr1.top40GA }}<br><span class="stat-name">G+A</span></td>
                <td class="stat-text">{{ vini_intr1.top40GA }}<br><span class="stat-name">G+A</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="mejor" table="intr">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="abr" class="stat-title">VS Higher-Ranked Teams</h1>
    <h2 name="club" class="stat-title2">(Matches played against opponents with a better FIFA ranking than their team)
    </h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.abrGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr1.abrGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr1.abrGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.abrGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr1.abrGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr1.abrGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.abrGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{ haaland_intr1.abrGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{ vini_intr1.abrGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.abrAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr1.abrAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr1.abrAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr1.abrGA }}<br><span class="stat-name">G+A</span></td>
                <td class="stat-text">{{ haaland_intr1.abrGA }}<br><span class="stat-name">G+A</span></td>
                <td class="stat-text">{{ vini_intr1.abrGA }}<br><span class="stat-name">G+A</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="mejor" table="intr">UPDATE</button>
    {{/if}}
</div>



<div class="table-container">
    <h1 name="int" class="stat-title">INTERNATIONAL MAJOR TOURNAMENTS STATS</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr.mejorGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr.mejorGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr.mejorGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.mejorGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr.mejorGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr.mejorGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.mejorAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr.mejorAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr.mejorAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="mejor" table="intr">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="int" class="stat-title">EXCLUDING FRIENDLIES</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr.efGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr.efGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr.efGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.efGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr.efGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr.efGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.efAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr.efAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr.efAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="ef" table="intr">UPDATE</button>
    {{/if}}
</div>

<h1 name="" id="int-comp" class="stat-titleabove">STATS BY COMPETITION</h1>


<div class="table-container table-container-st">
    <h2 name="club" class="stat-title">WORLD CUP STATS</h2>


    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr.wcGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr.wcGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr.wcGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.wcGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr.wcGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr.wcGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.wcAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr.wcAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr.wcAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    <button class="Dt-btnu"><a class="dynamic-link" href="wc">Detailed World Cup Stats</a></button>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="wc" table="intr">UPDATE</button>
    {{/if}}
</div>

</div>
<div class="footer3-card" onclick="location.href='/int-stats/wc'">
    <span>More Detailed World Cup Stats</span>
    <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container table-container-st">
    <h1 name="club" class="stat-title">Copa América/Euro Cup </h1>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr.cuGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr.cuGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr.cuGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.cuGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr.cuGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr.cuGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    <button class="Dt-btnu"><a class="dynamic-link" href="copa-euro">Detailed Copa/Euro Stats</a></button>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="cu" table="intr">UPDATE</button>
    {{/if}}
</div>
</div>
<div class="footer3-card" onclick="location.href='/int-stats/copa-euro'">
    <span>More Detailed Copa/Euro Stats</span>
    <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container" id="wcq">
    <h1 name="int" class="stat-title">WORLD CUP QUALIFIERS</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr.wcqGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr.wcqGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr.wcqGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.wcqGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr.wcqGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr.wcqGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.wcqAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr.wcqAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr.wcqAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="wcq" table="intr">UPDATE</button>
    {{/if}}
</div>

<div class="table-container" id="ecq">
    <h1 name="int" class="stat-title">EURO QUALIFIERS</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr.euqGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr.euqGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr.euqGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.euqGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr.euqGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr.euqGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.euqAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr.euqAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr.euqAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="euq" table="intr">UPDATE</button>
    {{/if}}
</div>

<div class="table-container" id="unl">
    <h1 name="int" class="stat-title">UEFA NATIONS LEAGUE</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{ mbappe_intr.unlGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ haaland_intr.unlGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{ vini_intr.unlGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.unlGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ haaland_intr.unlGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{ vini_intr.unlGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.unlGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{ haaland_intr.unlGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{ vini_intr.unlGoalRatio }}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{ mbappe_intr.unlAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ haaland_intr.unlAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{ vini_intr.unlAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="unl" table="intr">UPDATE</button>
    {{/if}}
</div>

{{>sts-update}}



<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/javascripts/graph.js"></script>

<script>
  // backend data from route:
  const graphData = {{{ json graph }}};
  // graph = { mbappe:{season:{goals,assists,gplus}, allTime:{...}}, haaland:{...}, vinicius:{...} }

  // initialize reusable graph
  initCumulativeGraph({
    containerId: "progressGraph",   // <div id="progressGraph">
    wrapperId: "chartWrapper",      // outer div with fade animation

    graphData,                      // real data from backend

    modeConfig: {
      key1: "filter1",               // this page = "season" vs "allTime"
      key2: "filter2",
      defaultKey: "filter1",
      btn1Id: "seasonBtn",
      btn2Id: "allTimeBtn"
    },

    statConfig: {
      keys: ["goals", "gplus", "assists"],
      defaultKey: "goals",
      buttons: {
        goals:   "goalsBtn",
        gplus:   "gplusBtn",
        assists: "assistsBtn"
      }
    }
  });
</script>
