<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="Mbappe vs Haaland, Haaland vs Vinicius, Mbappe stats, Haaland stats, Vinicius stats, football comparison, Champions League stats, World Cup stats">
<meta name="robots" content="index, follow">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://mhvstats.xyz{{@root._locals.originalUrl}}">


<h1 name="" id="clubComp" class="stat-titleabove">INTERNATIONAL STATS</h1>
<h2 name="club" class="stat-title2">(For National Team)</h2>


<div class="table-container">
    <h1 name="" class="stat-title">ALL TIME INTERNATIONAL</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe_all.intGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland_all.intGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini_all.intGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_all.intGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland_all.intGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini_all.intGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_all.intGoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="haaland-text">{{haaland_all.intGoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="vini-text">{{vini_all.intGoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_all.Assists}}<br><span class="stat-name">ASSIST</span></td>
                <td class="haaland-text">{{haaland_all.Assists}}<br><span class="stat-name">ASSIST</span></td>
                <td class="vini-text">{{vini_all.Assists}}<br><span class="stat-name">ASSIST</span></td>
            </tr>
        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="int" table="all_time">UPDATE</button>
    {{/if}}
</div>

<div class="footer3-card" onclick="location.href='/int-stats#int-comp'">
    <span>Stats By International Competition</span>
    <span class="footer2-arrow">&#8594;</span>
</div>
<div class="footer3-card" onclick="location.href='/int-stats#unl'">
    <span>UEFA NATIONS LEAGUE STATS</span>
    <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container">
    <h1 name="int" class="stat-title">INTERNATIONAL MAJOR TOURNAMENTS STATS</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.mejorGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{ haaland_intr.mejorGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{ vini_intr.mejorGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.mejorGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{ haaland_intr.mejorGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{ vini_intr.mejorGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.mejorAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{ haaland_intr.mejorAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{ vini_intr.mejorAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="mejor" table="intr">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="int" class="stat-title">EXCLUDING FRIENDLIES</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.efGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{ haaland_intr.efGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{ vini_intr.efGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.efGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{ haaland_intr.efGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{ vini_intr.efGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.efAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{ haaland_intr.efAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{ vini_intr.efAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="ef" table="intr">UPDATE</button>
    {{/if}}
</div>

<h1 name="" id="int-comp" class="stat-titleabove">STATS BY COMPETITION</h1>


<div class="table-container table-container-st">
    <h2 name="club" class="stat-title">WORLD CUP STATS</h2>


    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.wcGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{ haaland_intr.wcGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{ vini_intr.wcGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.wcGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{ haaland_intr.wcGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{ vini_intr.wcGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.wcAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{ haaland_intr.wcAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{ vini_intr.wcAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>
    <button class="Dt-btnu"><a class="dynamic-link" href="wc">Detailed World Cup Stats</a></button>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="wc" table="intr">UPDATE</button>
    {{/if}}
</div>

</div>
<div class="footer3-card" onclick="location.href='/int-stats/wc'">
    <span>More Detailed World Cup Stats</span>
    <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container table-container-st">
    <h1 name="club" class="stat-title">Copa América/Euro Cup </h1>

    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.cuGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{ haaland_intr.cuGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{ vini_intr.cuGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.cuGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{ haaland_intr.cuGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{ vini_intr.cuGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{ haaland_intr.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{ vini_intr.cuAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    <button class="Dt-btnu"><a class="dynamic-link" href="copa-euro">Detailed Copa/Euro Stats</a></button>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="cu" table="intr" >UPDATE</button>
    {{/if}}
</div>
</div>
<div class="footer3-card" onclick="location.href='/int-stats/copa-euro'">
    <span>More Detailed Copa/Euro Stats</span>
    <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container">
    <h1 name="int" class="stat-title">WORLD CUP QUALIFIERS</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.wcqGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{ haaland_intr.wcqGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{ vini_intr.wcqGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.wcqGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{ haaland_intr.wcqGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{ vini_intr.wcqGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.wcqAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{ haaland_intr.wcqAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{ vini_intr.wcqAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="wcq" table="intr" >UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="int" class="stat-title">EURO QUALIFIERS</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.euqGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{ haaland_intr.euqGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{ vini_intr.euqGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.euqGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{ haaland_intr.euqGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{ vini_intr.euqGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.euqAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{ haaland_intr.euqAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{ vini_intr.euqAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="euq" table="intr" >UPDATE</button>
    {{/if}}
</div>

<div class="table-container" id="unl">
    <h1 name="int" class="stat-title">UEFA NATIONS LEAGUE</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.unlGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{ haaland_intr.unlGames }}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{ vini_intr.unlGames }}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.unlGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{ haaland_intr.unlGoals }}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{ vini_intr.unlGoals }}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{ mbappe_intr.unlAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{ haaland_intr.unlAssists }}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{ vini_intr.unlAssists }}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="unl" table="intr" >UPDATE</button>
    {{/if}}
</div>

{{>sts-update}}

<script>

    window.addEventListener('DOMContentLoaded', () => {
        const hash = window.location.hash;

        if (hash === '#int-comp', '#unl') {
            const target = document.querySelector(hash);
            if (!target) return;

            const offset = 80; // adjust if you have a fixed header
            const duration = 1000;

            const targetPosition = target.getBoundingClientRect().top + window.scrollY - offset;
            const startPosition = window.scrollY;
            const distance = targetPosition - startPosition;
            let startTime = null;

            function animation(currentTime) {
                if (!startTime) startTime = currentTime;
                const timeElapsed = currentTime - startTime;
                const run = easeInOutQuad(timeElapsed, startPosition, distance, duration);
                window.scrollTo(0, run);
                if (timeElapsed < duration) requestAnimationFrame(animation);
            }

            function easeInOutQuad(t, b, c, d) {
                t /= d / 2;
                if (t < 1) return c / 2 * t * t + b;
                t--;
                return -c / 2 * (t * (t - 2) - 1) + b;
            }

            requestAnimationFrame(animation);
        }
    });


    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll("a.dynamic-link");
        const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

        links.forEach(link => {
            const originalHref = link.getAttribute("href");

            // If it's already absolute or an external link, skip
            if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

            // Update href to include current path
            link.setAttribute("href", `${basePath}/${originalHref}`);
        });
    });


   
    document.querySelectorAll('.Dt-btn2').forEach(button => {
        button.addEventListener('click', function () {
            const container = this.closest('.table-container'); // Locate the current section
            if (!container) return;

            const table = container.querySelector('table'); // Find the table inside this section
            const hiddenRows = table.querySelectorAll('.extra-row'); // Find hidden rows

            hiddenRows.forEach(row => {
                row.style.display = 'table-row'; // Show row
                row.style.animation = 'slideDown 0.4s ease'; // Optional animation
            });

            this.style.display = 'none'; // Hide "More" button
        });
    });
</script>