<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords"
    content="Mbappe vs Haaland, Haaland vs Vinicius, Mbappe stats, Haaland stats, Vinicius stats, football comparison, Champions League stats, World Cup stats">
<meta name="robots" content="index, follow">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://mhvstats.xyz{{@root._locals.originalUrl}}">


<div class="table-container">
    <h1 name="" class="stat-title">ALL TIME UEFA Champions League</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <div class="table-scroll">
            <tbody>
                <tr>
                    <td class="stat-text">{{mbappe.Games}}<br><span class="stat-name">GAMES</span></td>
                    <td class="stat-text">{{haaland.Games}}<br><span class="stat-name">GAMES</span></td>
                    <td class="stat-text">{{vini_club.uclGames}}<br><span class="stat-name">GAMES</span></td>
                </tr>
                <tr>
                    <td class="stat-text">{{mbappe.Goals}}<br><span class="stat-name">GOALS</span></td>
                    <td class="stat-text">{{haaland.Goals}}<br><span class="stat-name">GOALS</span></td>
                    <td class="stat-text">{{vini.Goals}}<br><span class="stat-name">GOALS</span></td>
                </tr>
                <tr>
                    <td class="stat-text">{{mbappe.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                    <td class="stat-text">{{haaland.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span>
                    </td>
                    <td class="stat-text">{{vini.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                </tr>
                <tr>
                    <td class="stat-text">{{mbappe.Assists}}<br><span class="stat-name">ASSISTS</span></td>
                    <td class="stat-text">{{haaland.uclAssists}}<br><span class="stat-name">ASSISTS</span></td>
                    <td class="stat-text">{{vini.Assists}}<br><span class="stat-name">ASSISTS</span></td>
                </tr>

                <!-- Hidden Rows -->
                <tr>
                    <td class="stat-text">{{mbappe.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
                    <td class="stat-text">{{haaland.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
                    <td class="stat-text">{{vini.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
                </tr>
                <tr>
                    <td class="stat-text">{{mbappe.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
                    <td class="stat-text">{{haaland.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
                    <td class="stat-text">{{vini.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
                </tr>
        </div>
        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="int" class="stat-title">UCL KNOCKOUT</h1>
    <h2 name="club" class="stat-title2">(Including Play-off Games In New Format )</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.koGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.koGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.koGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.koGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.koGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.koGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="ko" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">UCL GROUP STAGE</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.gsGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.gsGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.gsGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.gsGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.gsGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.gsGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="gs" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">UCL SEMI FINAL</h2>


    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.semiGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.semiGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.semiGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.semiGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.semiGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.semiGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="semi" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">UCL SEMI+FINAL</h2>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.sfGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.sfGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.sfGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.sfGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.sfGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.sfGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="sf" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">UCL FINAL</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.finalGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.finalGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="final" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">UCL INDIVIDUAL ACHIEVEMENTS</h2>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
                <td class="stat-text">{{haaland_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
                <td class="stat-text">{{vini_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
                <td class="stat-text">{{haaland_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
                <td class="stat-text">{{vini_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_ach.pott}}<br><span class="stat-name">POTT</span></td>
                <td class="stat-text">{{haaland_ach.pott}}<br><span class="stat-name">POTT</span></td>
                <td class="stat-text">{{vini_ach.pott}}<br><span class="stat-name">POTT</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
                <td class="stat-text">{{haaland_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
                <td class="stat-text">{{vini_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="ucl">UPDATE</button>
    {{/if}}
</div>

{{>sts-update}}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll("a.dynamic-link");
        const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

        links.forEach(link => {
            const originalHref = link.getAttribute("href");

            // If it's already absolute or an external link, skip
            if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

            // Update href to include current path
            link.setAttribute("href", `${basePath}/${originalHref}`);
        });
    });



</script>