<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords"
    content="Mbappe vs Haaland, Haaland vs Vinicius, Mbappe stats, Haaland stats, Vinicius stats, football comparison, Champions League stats, World Cup stats">
<meta name="robots" content="index, follow">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://mhvstats.xyz{{@root._locals.originalUrl}}">


<div class="table-container">
    <h1 name="" class="stat-title">ALL TIME UEFA Champions League</h1>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <div class="table-scroll">
            <tbody>
                <tr>
                    <td class="stat-text">{{mbappe.Games}}<br><span class="stat-name">GAMES</span></td>
                    <td class="stat-text">{{haaland.Games}}<br><span class="stat-name">GAMES</span></td>
                    <td class="stat-text">{{vini_club.uclGames}}<br><span class="stat-name">GAMES</span></td>
                </tr>
                <tr>
                    <td class="stat-text">{{mbappe.Goals}}<br><span class="stat-name">GOALS</span></td>
                    <td class="stat-text">{{haaland.Goals}}<br><span class="stat-name">GOALS</span></td>
                    <td class="stat-text">{{vini.Goals}}<br><span class="stat-name">GOALS</span></td>
                </tr>
                <tr>
                    <td class="stat-text">{{mbappe.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                    <td class="stat-text">{{haaland.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                    <td class="stat-text">{{vini.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                </tr>
                <tr>
                    <td class="stat-text">{{mbappe.Assists}}<br><span class="stat-name">ASSISTS</span></td>
                    <td class="stat-text">{{haaland.Assists}}<br><span class="stat-name">ASSISTS</span></td>
                    <td class="stat-text">{{vini.Assists}}<br><span class="stat-name">ASSISTS</span></td>
                </tr>

                <!-- Hidden Rows -->
                <tr>
                    <td class="stat-text">{{mbappe.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
                    <td class="stat-text">{{haaland.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
                    <td class="stat-text">{{vini.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
                </tr>
                <tr>
                    <td class="stat-text">{{mbappe.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
                    <td class="stat-text">{{haaland.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
                    <td class="stat-text">{{vini.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
                </tr>
        </div>
        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h1 name="int" class="stat-title">UCL KNOCKOUT</h1>
    <h2 name="club" class="stat-title2">(Including Play-off Games In New Format )</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.koGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.koGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.koGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.koGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.koGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.koGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="ko" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">UCL GROUP STAGE</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.gsGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.gsGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.gsGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.gsGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.gsGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.gsGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="gs" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">UCL SEMI FINAL</h2>


    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.semiGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.semiGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.semiGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.semiGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.semiGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.semiGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="semi" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">UCL SEMI+FINAL</h2>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.sfGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.sfGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.sfGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.sfGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.sfGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.sfGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="sf" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">UCL FINAL</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.finalGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.finalGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="final" table="ucl">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">UCL INDIVIDUAL ACHIEVEMENTS</h2>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
                <td class="stat-text">{{haaland_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
                <td class="stat-text">{{vini_ach.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
                <td class="stat-text">{{haaland_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
                <td class="stat-text">{{vini_ach.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_ach.pott}}<br><span class="stat-name">POTT</span></td>
                <td class="stat-text">{{haaland_ach.pott}}<br><span class="stat-name">POTT</span></td>
                <td class="stat-text">{{vini_ach.pott}}<br><span class="stat-name">POTT</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
                <td class="stat-text">{{haaland_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
                <td class="stat-text">{{vini_ach.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="ucl">UPDATE</button>
    {{/if}}
</div>

{{>sts-update}}

<section class="performance-insight">
    <div class="insight-box">

        <h3 class="insight-title">
            <span class="accent-bar"></span>
            Who Has the Biggest Impact in the Champions League?
        </h3>

        <p class="insight-text">
            Kylian Mbappé is one of the Champions League’s most consistent performers. With
            <span class="highlight">64 goals in 92 appearances</span>, he ranks as the 6th highest scorer in UCL
            history. His impact is defined by longevity, producing elite-level output since his 2017 breakthrough with
            Monaco. A defining moment came in 2021 with a hat-trick at Camp Nou against Barcelona, and now at Real
            Madrid, he continues to climb the all-time scoring charts while remaining one of Europe’s most dangerous
            transition threats.
        </p>

        <p class="insight-text">
            Erling Haaland operates at an unmatched scoring level in the Champions League. With
            <span class="highlight">55 goals in 54 matches</span>, he is the fastest and youngest player to reach most
            major UCL scoring milestones, averaging
            <span class="highlight">1.02 goals per game</span>—the highest ratio in competition history among players
            with 50+ appearances. His most iconic display came in 2023 with a
            <span class="highlight">five-goal performance against RB Leipzig</span>, and he already owns a Champions
            League title from Manchester City’s treble-winning season.
        </p>
        <p class="insight-text">
            Vinícius Júnior has the fewest goals of the three <span class="highlight">(29 goals in 74 apps)</span>, but
            he is arguably the most
            successful in terms of direct impact on titles. He is a "big-game specialist" who has scored in two
            different Champions League finals (2022 and 2024), leading Real Madrid to two trophies in three years. His
            performance in late 2024—a second-half hat-trick against <span class="highlight">Borussia Dortmund to spark
                a 5-2 comeback—cemented </span>
            his reputation as the player who takes over when his team is under the most pressure.
        </p>
        <p class="insight-text">
            The "best" performer depends on your criteria. If the goal is pure scoring power, Haaland is statistically
            the greatest weapon the Champions League has ever seen. If the goal is all-time status and volume, Mbappé is
            on track to potentially challenge the records of Ronaldo and Messi. However, if the goal is winning and
            final-game impact, Vinícius Júnior is currently ahead, having delivered the most decisive moments in the
            biggest matches of the decade.
        </p>

    </div>
</section>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll("a.dynamic-link");
        const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

        links.forEach(link => {
            const originalHref = link.getAttribute("href");

            // If it's already absolute or an external link, skip
            if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

            // Update href to include current path
            link.setAttribute("href", `${basePath}/${originalHref}`);
        });
    });



</script>