<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="Mbappe vs Haaland, Copa America stats, Euro stats, World Cup goals, Vinicius Junior, football player comparison, Mbappe vs Vinicius, Haaland vs Mbappe">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:url" content="https://mhvstats.xyz/int-stats/{{@root._locals.originalUrl}}">
<meta name="robots" content="index, follow">


<div class="table-container">
    <h1 name="" class="stat-title">ALL TIME WORLD CUP STATS</h1>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.Games}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland_wc.Games}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini_wc.Games}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.Goals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland_wc.Goals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini_wc.Goals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="haaland-text">{{haaland_wc.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="vini-text">{{vini_wc.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.Assists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{haaland_wc.Assists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{vini_wc.Assists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
                <td class="haaland-text">{{haaland_wc.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
                <td class="vini-text">{{vini_wc.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
                <td class="haaland-text">{{haaland_wc.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
                <td class="vini-text">{{vini_wc.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
            </tr>

        </tbody>
    </table>

    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="wc" >UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">WORLD CUP KNOCKOUTS</h2>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.koGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland_wc.koGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini_wc.koGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.koGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland_wc.koGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini_wc.koGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{haaland_wc.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{vini_wc.koAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="ko" table="wc" >UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">WORLD CUP GROUP STAGE</h2>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.gsGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland_wc.gsGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini_wc.gsGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.gsGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland_wc.gsGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini_wc.gsGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{haaland_wc.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{vini_wc.gsAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="gs" table="wc" >UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">WORLD CUP SEMI FINAL</h2>


    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.semiGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland_wc.semiGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini_wc.semiGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.semiGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland_wc.semiGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini_wc.semiGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{haaland_wc.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{vini_wc.semiAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
 
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="semi" table="wc" >UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">WORLD CUP SEMI+FINAL</h2>

    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.sfGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland_wc.sfGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini_wc.sfGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.sfGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland_wc.sfGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini_wc.sfGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{haaland_wc.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="vini-text">{{vini_wc.sfAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>

        </tbody>
    </table>
   
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="sf" table="wc" >UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">WORLD CUP FINAL</h2>
    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="haaland-text">{{haaland_wc.finalGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="vini-text">{{vini_wc.finalGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="haaland-text">{{haaland_wc.finalGoals}}<br><span class="stat-name">GOALS</span></td>
                <td class="vini-text">{{vini_wc.finalGoals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="haaland-text">{{haaland_wc.finalAssists}}<br><span class="stat-name">ASSISTS</span>
                </td>
                <td class="vini-text">{{vini_wc.finalAssists}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>


        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="final" table="wc" >UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">WORLD CUP INDIVIDUAL ACHIEVEMENTS</h2>

    <table>
        <thead>
            <tr>
                <th class="mbappe-text">MBAPPE</th>
                <th class="haaland-text">HAALAND</th>
                <th class="vini-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
                <td class="haaland-text">{{haaland_wc.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
                <td class="vini-text">{{vini_wc.sesnPlayed}}<br><span class="stat-name">SEASON PLAYED</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
                <td class="haaland-text">{{haaland_wc.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
                <td class="vini-text">{{vini_wc.tscorer}}<br><span class="stat-name">TOP SCORER</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.pott}}<br><span class="stat-name">POTT</span></td>
                <td class="haaland-text">{{haaland_wc.pott}}<br><span class="stat-name">POTT</span></td>
                <td class="vini-text">{{vini_wc.pott}}<br><span class="stat-name">POTT</span></td>
            </tr>
            <tr>
                <td class="mbappe-text">{{mbappe_wc.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
                <td class="haaland-text">{{haaland_wc.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
                <td class="vini-text">{{vini_wc.ypott}}<br><span class="stat-name">YOUNG POTT</span></td>
            </tr>

        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="wc" >UPDATE</button>
    {{/if}}
</div>


{{>sts-update}}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll("a.dynamic-link");
        const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

        links.forEach(link => {
            const originalHref = link.getAttribute("href");

            // If it's already absolute or an external link, skip
            if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

            // Update href to include current path
            link.setAttribute("href", `${basePath}/${originalHref}`);
        });
    });


 
</script>