<div class="table-container">
    <h2 name="" class="stat-title">At The Age Of 16</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.Games}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.Games}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.Games}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.Goals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.Goals}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.Goals}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.Assists}}<br><span class="stat-name">ASSIST</span></td>
                <td class="stat-text">{{haaland.Assists}}<br><span class="stat-name">ASSIST</span></td>
                <td class="stat-text">{{vini.Assists}}<br><span class="stat-name">ASSIST</span></td>
            </tr>
        <!-- Hidden Rows -->
        <tr >
            <td class="stat-text">{{mbappe.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
            <td class="stat-text">{{haaland.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
            <td class="stat-text">{{vini.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
        </tr>
        <tr >
            <td class="stat-text">{{mbappe.shotonTarget}}<br><span class="stat-name">SHOT ON TARGET</span></td>
            <td class="stat-text">{{haaland.shotonTarget}}<br><span class="stat-name">SHOT ON TARGET</span></td>
            <td class="stat-text">{{vini.shotonTarget}}<br><span class="stat-name">SHOT ON TARGET</span></td>
        </tr>
    </tbody>
  </table>

  <button class="Dt-btn2" id="showMoreBtn">More</button>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>
<div class="table-container">
    <h2 name="int" class="stat-title">2024-25 CLUB COMPETETION STATS</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.poker}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">2024-25 INTERNATIONAL STATS</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.poker}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">2024-25 LEAGUE STATS</h2>
    <table class="Stats-table">
        <thead>
            <tr> 
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.poker}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">2024-25 UCL</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.poker}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">2024-25 UCL KNOCKOUTS</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.poker}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="club" class="stat-title">2024-25 DOMESTIC CUP</h2>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.poker}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
     <button class="Dt-btn"><a class="dynamic-link" href="club-stats">Detailed Copa/Euro Stats</a></button>
    {{#if admin}}
    <button class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">2024-25 DOMESTIC SUPER CUP</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.hattrics}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{haaland.hattrics}}<br><span class="stat-name">GOAL RATIO</span></td>
                <td class="stat-text">{{vini.hattrics}}<br><span class="stat-name">GOAL RATIO</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.poker}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">2024-25 FINAL STATS</h2>

    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

<div class="table-container">
    <h2 name="int" class="stat-title">2024-25 INTERNATIONAL STATS</h2>
    <table class="Stats-table">
        <thead>
            <tr>
                <th class="stat-text">MBAPPE</th>
                <th class="stat-text">HAALAND</th>
                <th class="stat-text">VINICIUS</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
                <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{haaland.braces}}<br><span class="stat-name">GOALS</span></td>
                <td class="stat-text">{{vini.braces}}<br><span class="stat-name">GOALS</span></td>
            </tr>
            <tr>
                <td class="stat-text">{{mbappe.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{haaland.poker}}<br><span class="stat-name">ASSISTS</span></td>
                <td class="stat-text">{{vini.poker}}<br><span class="stat-name">ASSISTS</span></td>
            </tr>
        </tbody>
    </table>
    {{#if admin}}
    <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="CLUB STATS">UPDATE</button>
    {{/if}}
</div>

{{>sts-update}}

<script>
    
   document.querySelectorAll('.Dt-btn2').forEach(button => {
  button.addEventListener('click', function () {
    const container = this.closest('.table-container'); // Locate the current section
    if (!container) return;

    const table = container.querySelector('table'); // Find the table inside this section
    const hiddenRows = table.querySelectorAll('.extra-row'); // Find hidden rows

    hiddenRows.forEach(row => {
      row.style.display = 'table-row'; // Show row
      row.style.animation = 'slideDown 0.4s ease'; // Optional animation
    });

    this.style.display = 'none'; // Hide "More" button
  });
});


     document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll("a.dynamic-link");
    const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

    links.forEach(link => {
      const originalHref = link.getAttribute("href");

      // If it's already absolute or an external link, skip
      if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

      // Update href to include current path
      link.setAttribute("href", `${basePath}/${originalHref}`);
    });
  });


    
</script>