<div class="table-container table-container-st">
  <h1 name="" class="stat-title">ALL TIME STATS</h1>
  <table>
    <thead>
      <tr>
        <th class="mbappe-text">MBAPPE</th>
        <th class="haaland-text">HAALAND</th>
        <th class="vini-text">VINICIUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mbappe-text">{{mbappe.Games}}<br><span class="stat-name">GAMES</span></td>
        <td class="haaland-text">{{haaland.Games}}<br><span class="stat-name">GAMES</span></td>
        <td class="vini-text">{{vini.Games}}<br><span class="stat-name">GAMES</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{mbappe.Goals}}<br><span class="stat-name">GOALS</span></td>
        <td class="haaland-text">{{haaland.Goals}}<br><span class="stat-name">GOALS</span></td>
        <td class="vini-text">{{vini.Goals}}<br><span class="stat-name">GOALS</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{mbappe.Assists}}<br><span class="stat-name">ASSIST</span></td>
        <td class="haaland-text">{{haaland.Assists}}<br><span class="stat-name">ASSIST</span></td>
        <td class="vini-text">{{vini.Assists}}<br><span class="stat-name">ASSIST</span></td>
      </tr>
    </tbody>
  </table>
  <button class="Dt-btnu"><a class="dynamic-link" href="alltime">Detailed Stats</a></button>
  {{#if admin}}
  <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="all_time">UPDATE</button>
  {{/if}}
</div>


<div class="footer3-card" onclick="location.href='/alltime#goal'">
  <span>Hattricks,Braces Etc</span>
  <span class="footer2-arrow">&#8594;</span>
</div>
<div class="footer3-card" onclick="location.href='/alltime#final'">
  <span>All Time Stats In Finals</span>
  <span class="footer2-arrow">&#8594;</span>
</div> 

<div class="table-container table-container-st" id="club">
  <h1 name="club" class="stat-title">ALL TIME CLUB STATS</h1>
  <table>
    <thead>
      <tr>
        <th class="mbappe-text">MBAPPE</th>
        <th class="haaland-text">HAALAND</th>
        <th class="vini-text">VINICIUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mbappe-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
        <td class="haaland-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
        <td class="vini-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{mbappe.clubGoals}}<br><span class="stat-name">GOALS</span></td>
        <td class="haaland-text">{{haaland.clubGoals}}<br><span class="stat-name">GOALS</span></td>
        <td class="vini-text">{{vini.clubGoals}}<br><span class="stat-name">GOALS</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{mbappe.clubAssists}}<br><span class="stat-name">ASSIST</span></td>
        <td class="haaland-text">{{haaland.clubAssists}}<br><span class="stat-name">ASSIST</span></td>
        <td class="vini-text">{{vini.clubAssists}}<br><span class="stat-name">ASSIST</span></td>
      </tr>
    </tbody>
  </table>
  <button class="Dt-btnu"><a class="dynamic-link" href="club-stats">Detailed Stats</a></button>
  {{#if admin}}
   <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="club" table="all_time">UPDATE</button>
  {{/if}}
</div>

<div class="footer3-card" onclick="location.href='/club-stats/ucl'">
  <span>UEFA Champions League</span>
  <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container table-container-st" id="int">
  <h2 name="int" class="stat-title">ALL TIME INTERNATIONAL STATS</h2>
  <table>
    <thead>
      <tr>
        <th class="mbappe-text">MBAPPE</th>
        <th class="haaland-text">HAALAND</th>
        <th class="vini-text">VINICIUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mbappe-text">{{mbappe.intGames}}<br><span class="stat-name">GAMES</span></td>
        <td class="haaland-text">{{haaland.intGames}}<br><span class="stat-name">GAMES</span></td>
        <td class="vini-text">{{vini.intGames}}<br><span class="stat-name">GAMES</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{mbappe.intGoals}}<br><span class="stat-name">GOALS</span></td>
        <td class="haaland-text">{{haaland.intGoals}}<br><span class="stat-name">GOALS</span></td>
        <td class="vini-text">{{vini.intGoals}}<br><span class="stat-name">GOALS</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{mbappe.intAssists}}<br><span class="stat-name">ASSIST</span></td>
        <td class="haaland-text">{{haaland.intAssists}}<br><span class="stat-name">ASSIST</span></td>
        <td class="vini-text">{{vini.intAssists}}<br><span class="stat-name">ASSIST</span></td>
      </tr>
    </tbody>
  </table>
  <button class="Dt-btnu"><a class="dynamic-link" href="int-stats">Detailed Stats</a></button>
  {{#if admin}}
  <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="int" table="all_time">UPDATE</button>
  {{/if}}
</div>

<div class="footer3-card" onclick="location.href='/int-stats/wc'">
  <span>World Cup</span>
  <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container">
  <h2 name="" class="stat-title">INDIVIDUAL AWARDS & ACHIEVEMENTS</h2>
  <table>
    <thead>
      <tr>
        <th class="mbappe-text">MBAPPE</th>
        <th class="haaland-text">HAALAND</th>
        <th class="vini-text">VINICIUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mbappe-text">{{ mbappe.bdor }}<br><span class="stat-name">BALLON D’OR</span></td>
        <td class="haaland-text">{{ haaland.bdor }}<br><span class="stat-name">BALLON D’OR</span></td>
        <td class="vini-text">{{ vini.bdor }}<br><span class="stat-name">BALLON D’OR</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{ mbappe.fbest }}<br><span class="stat-name">FIFA BEST</span></td>
        <td class="haaland-text">{{ haaland.fbest }}<br><span class="stat-name">FIFA BEST</span></td>
        <td class="vini-text">{{ vini.fbest }}<br><span class="stat-name">FIFA BEST</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{ mbappe.fwxi }}<br><span class="stat-name">FIFA FIFPRO WORLD XI</span></td>
        <td class="haaland-text">{{ haaland.fwxi }}<br><span class="stat-name">FIFA FIFPRO WORLD XI</span></td>
        <td class="vini-text">{{ vini.fwxi }}<br><span class="stat-name">FIFA FIFPRO WORLD XI</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{ mbappe.ubest }}<br><span class="stat-name">UEFA BEST</span></td>
        <td class="haaland-text">{{ haaland.ubest }}<br><span class="stat-name">UEFA BEST</span></td>
        <td class="vini-text">{{ vini.ubest }}<br><span class="stat-name">UEFA BEST</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{ mbappe.egboot }}<br><span class="stat-name">EUROPEAN GOLDEN BOOT</span></td>
        <td class="haaland-text">{{ haaland.egboot }}<br><span class="stat-name">EUROPEAN GOLDEN BOOT</span></td>
        <td class="vini-text">{{ vini.egboot }}<br><span class="stat-name">EUROPEAN GOLDEN BOOT</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{ mbappe.uclpott }}<br><span class="stat-name">UCL POTT</span></td>
        <td class="haaland-text">{{ haaland.uclpott }}<br><span class="stat-name">UCL POTT</span></td>
        <td class="vini-text">{{ vini.uclpott }}<br><span class="stat-name">UCL POTT</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{ mbappe.uclypott }}<br><span class="stat-name">UCL YOUNG POTT</span></td>
        <td class="haaland-text">{{ haaland.uclypott }}<br><span class="stat-name">UCL YOUNG POTT</span></td>
        <td class="vini-text">{{ vini.uclypott }}<br><span class="stat-name">UCL YOUNG POTT</span></td>
      </tr>
      <tr>
        <td class="mbappe-text">{{ mbappe.uclts }}<br><span class="stat-name">UCL TOP SCORER</span></td>
        <td class="haaland-text">{{ haaland.uclts }}<br><span class="stat-name">UCL TOP SCORER</span></td>
        <td class="vini-text">{{ vini.uclts }}<br><span class="stat-name">UCL TOP SCORER</span></td>
      </tr>
      <tr class="extra-row" style="display: none;">
        <td class="mbappe-text">{{ mbappe.wcpott }}<br><span class="stat-name">WC POTT</span></td>
        <td class="haaland-text">{{ haaland.wcpott }}<br><span class="stat-name">WC POTT</span></td>
        <td class="vini-text">{{ vini.wcpott }}<br><span class="stat-name">WC POTT</span></td>
      </tr>
      <tr class="extra-row" style="display: none;">
        <td class="mbappe-text">{{ mbappe.wcypott }}<br><span class="stat-name">WC YOUNG POTT</span></td>
        <td class="haaland-text">{{ haaland.wcypott }}<br><span class="stat-name">WC YOUNG POTT</span></td>
        <td class="vini-text">{{ vini.wcypott }}<br><span class="stat-name">WC YOUNG POTT</span></td>
      </tr>
      <tr class="extra-row" style="display: none;">
        <td class="mbappe-text">{{ mbappe.cupott }}<br><span class="stat-name">COPA/EURO POTT</span></td>
        <td class="haaland-text">{{ haaland.cupott }}<br><span class="stat-name">COPA/EURO POTT</span></td>
        <td class="vini-text">{{ vini.cupott }}<br><span class="stat-name">COPA/EURO POTT</span></td>
      </tr>
      <tr class="extra-row" style="display: none;">
        <td class="mbappe-text">{{ mbappe.cuypott }}<br><span class="stat-name">COPA/EURO YOUNG POTT</span></td>
        <td class="haaland-text">{{ haaland.cuypott }}<br><span class="stat-name">COPA/EURO YOUNG POTT</span></td>
        <td class="vini-text">{{ vini.cuypott }}<br><span class="stat-name">COPA/EURO YOUNG POTT</span></td>
      </tr>
      <tr class="extra-row" style="display: none;">
        <td class="mbappe-text">{{ mbappe.cuts }}<br><span class="stat-name">COPA/EURO TOP SCORER</span></td>
        <td class="haaland-text">{{ haaland.cuts }}<br><span class="stat-name">COPA/EURO TOP SCORER</span></td>
        <td class="vini-text">{{ vini.cuts }}<br><span class="stat-name">COPA/EURO TOP SCORER</span></td>
      </tr>
      <tr class="extra-row" style="display: none;">
        <td class="mbappe-text">{{ mbappe.lpott }}<br><span class="stat-name">LEAGUE POTT</span></td>
        <td class="haaland-text">{{ haaland.lpott }}<br><span class="stat-name">LEAGUE POTT</span></td>
        <td class="vini-text">{{ vini.lpott }}<br><span class="stat-name">LEAGUE POTT</span></td>
      </tr>
      <tr class="extra-row" style="display: none;">
        <td class="mbappe-text">{{ mbappe.lypott }}<br><span class="stat-name">LEAGUE YOUNG POTT</span></td>
        <td class="haaland-text">{{ haaland.lypott }}<br><span class="stat-name">LEAGUE YOUNG POTT</span></td>
        <td class="vini-text">{{ vini.lypott }}<br><span class="stat-name">LEAGUE YOUNG POTT</span></td>
      </tr>
      <tr class="extra-row" style="display: none;">
        <td class="mbappe-text">{{ mbappe.lts }}<br><span class="stat-name">LEAGUE GOLDEN BOOT</span></td>
        <td class="haaland-text">{{ haaland.lts }}<br><span class="stat-name">LEAGUE GOLDEN BOOT</span></td>
        <td class="vini-text">{{ vini.lts }}<br><span class="stat-name">LEAGUE GOLDEN BOOT</span></td>
      </tr>

    </tbody>
  </table>
  <button class="Dt-btn2 show-more-btn">More</button>
  {{#if admin}}
  <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="all_time">UPDATE</button>
  {{/if}}
</div>

{{>sts-update}}

<script>

  const tabs = document.querySelectorAll('.tab');
  const contents = document.querySelectorAll('.content');

  tabs.forEach(tab => {
    tab.addEventListener('click', () => {
      // Toggle tab active state
      tabs.forEach(t => t.classList.remove('active'));
      tab.classList.add('active');

      // Show the correct content
      contents.forEach(content => content.classList.remove('active'));
      const target = tab.dataset.target;
      const activeContent = document.getElementById(target);
      if (activeContent) {
        activeContent.classList.add('active');
      }
    });
  });

  document.querySelectorAll('.Dt-btn2').forEach(button => {
    button.addEventListener('click', function () {
      const container = this.closest('.table-container'); // Locate the current section
      if (!container) return;

      const table = container.querySelector('table'); // Find the table inside this section
      const hiddenRows = table.querySelectorAll('.extra-row'); // Find hidden rows

      hiddenRows.forEach(row => {
        row.style.display = 'table-row'; // Show row
        row.style.animation = 'slideDown 0.4s ease'; // Optional animation
      });

      this.style.display = 'none'; // Hide "More" button
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll("a.dynamic-link");
    const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

    links.forEach(link => {
      const originalHref = link.getAttribute("href");

      // If it's already absolute or an external link, skip
      if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

      // Update href to include current path
      link.setAttribute("href", `${basePath}/${originalHref}`);
    });
  });

 
</script>