<section id="graph-section">
  <!-- Season Toggle -->
  <div class="toggle-row">
    <div class="toggle-box">
      <button class="toggle-btn active" id="seasonBtn">This Season</button>
      <button class="toggle-btn" id="allTimeBtn">All Time</button>
    </div>
  </div>

  <!-- Graph -->
  <div id="chartWrapper" class="chart-fade">
    <div id="progressGraph"></div>
  </div>



  <!-- Stats Toggle -->
  <div class="toggle-row">
    <div class="toggle-box" id="statToggle">
      <button class="toggle-btn" id="goalsBtn">Goals</button>
      <button class="toggle-btn" id="gplusBtn">G+</button>
      <button class="toggle-btn" id="assistsBtn">Assists</button>
    </div>

  </div>

</section>






<div class="table-container table-container-st">

  <h1 name="" class="stat-title">Last 20 Matches</h1>
  <div class="table-scroll">
    <table class="Stats-table">
      <thead>
        <tr>
          <th class="stat-text">MBAPPE</th>
          <th class="stat-text">HAALAND</th>
          <th class="stat-text">VINICIUS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="stat-text">{{mbappe_last20.Goals}}<br><span class="stat-name">GOALS</span></td>
          <td class="stat-text">{{haaland_last20.Goals}}<br><span class="stat-name">GOALS</span></td>
          <td class="stat-text">{{vini_last20.Goals}}<br><span class="stat-name">GOALS</span></td>
        </tr>
        <tr>
          <td class="stat-text">{{mbappe_last20.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
          <td class="stat-text">{{haaland_last20.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
          <td class="stat-text">{{vini_last20.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
        </tr>
        <tr>
          <td class="stat-text">{{mbappe_last20.Assists}}<br><span class="stat-name">ASSISTS</span></td>
          <td class="stat-text">{{haaland_last20.Assists}}<br><span class="stat-name">ASSISTS</span></td>
          <td class="stat-text">{{vini_last20.Assists}}<br><span class="stat-name">ASSISTS</span></td>
        </tr>

        <tr>
          <td class="stat-text">{{mbappe_last20.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
          <td class="stat-text">{{haaland_last20.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
          <td class="stat-text">{{vini_last20.CC}}<br><span class="stat-name">CHANCE CREATED</span></td>
        </tr>
        <tr>
          <td class="stat-text">{{mbappe_last20.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
          <td class="stat-text">{{haaland_last20.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
          <td class="stat-text">{{vini_last20.Shot}}<br><span class="stat-name">SHOT ON TARGET</span></td>
        </tr>
        <tr>
          <td class="stat-text">{{mbappe_last20.BCC}}<br><span class="stat-name">BIG CHANCE CREATED</span></td>
          <td class="stat-text">{{haaland_last20.BCC}}<br><span class="stat-name">BIG CHANCE CREATED</span></td>
          <td class="stat-text">{{vini_last20.BCC}}<br><span class="stat-name">BIG CHANCE CREATED</span></td>
        </tr>
        <tr>
          <td class="stat-text">{{mbappe_last20.Dribbles}}<br><span class="stat-name">DRIBBLES</span></td>
          <td class="stat-text">{{haaland_last20.Dribbles}}<br><span class="stat-name">DRIBBLES</span></td>
          <td class="stat-text">{{vini_last20.Dribbles}}<br><span class="stat-name">DRIBBLES</span></td>
        </tr>

      </tbody>
    </table>
  </div>
  <button class="Dt-btnu"><a class="dynamic-link" href="alltime">Detailed Stats</a></button>
  {{#if admin}}
  <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="all_time">UPDATE</button>
  {{/if}}
</div>


<div class="table-container table-container-st">

  <h1 name="" class="stat-title">ALL TIME STATS</h1>
  <div class="table-scroll">
    <table class="Stats-table">
      <thead>
        <tr>
          <th class="stat-text">MBAPPE</th>
          <th class="stat-text">HAALAND</th>
          <th class="stat-text">VINICIUS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="stat-text">{{mbappe.Games}}<br><span class="stat-name">GAMES</span></td>
          <td class="stat-text">{{haaland.Games}}<br><span class="stat-name">GAMES</span></td>
          <td class="stat-text">{{vini.Games}}<br><span class="stat-name">GAMES</span></td>

        </tr>
        <tr>
          <td class="stat-text">{{mbappe.Goals}}<br><span class="stat-name">GOALS</span></td>
          <td class="stat-text">{{haaland.Goals}}<br><span class="stat-name">GOALS</span></td>
          <td class="stat-text">{{vini.Goals}}<br><span class="stat-name">GOALS</span></td>
        </tr>
        <tr>
          <td class="stat-text">{{mbappe.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
          <td class="stat-text">{{haaland.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
          <td class="stat-text">{{vini.GoalRatio}}<br><span class="stat-name">GOAL RATIO</span></td>
        </tr>
        <tr>
          <td class="stat-text">{{mbappe.Assists}}<br><span class="stat-name">ASSISTS</span></td>
          <td class="stat-text">{{haaland.Assists}}<br><span class="stat-name">ASSISTS</span></td>
          <td class="stat-text">{{vini.Assists}}<br><span class="stat-name">ASSISTS</span></td>
        </tr>

      </tbody>
    </table>
  </div>
  <button class="Dt-btnu"><a class="dynamic-link" href="alltime">Detailed Stats</a></button>
  {{#if admin}}
  <button class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="all_time">UPDATE</button>
  {{/if}}
</div>


<div class="footer3-card" onclick="location.href='/alltime#goal'">
  <span>Hattricks,Braces Etc</span>
  <span class="footer2-arrow">&#8594;</span>
</div>
<div class="footer3-card" onclick="location.href='/alltime#final'">
  <span>All Time Stats In Finals</span>
  <span class="footer2-arrow">&#8594;</span>
</div>
<div class="footer3-card" onclick="location.href='/alltime#trophies'">
  <span>Career Trophies</span>
  <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container table-container-st" id="club">
  <h1 name="club" class="stat-title">ALL TIME CLUB STATS</h1>
  <table class="Stats-table">
    <thead>
      <tr>
        <th class="stat-text">MBAPPE</th>
        <th class="stat-text">HAALAND</th>
        <th class="stat-text">VINICIUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="stat-text">{{mbappe.clubGames}}<br><span class="stat-name">GAMES</span></td>
        <td class="stat-text">{{haaland.clubGames}}<br><span class="stat-name">GAMES</span></td>
        <td class="stat-text">{{vini.clubGames}}<br><span class="stat-name">GAMES</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{mbappe.clubGoals}}<br><span class="stat-name">GOALS</span></td>
        <td class="stat-text">{{haaland.clubGoals}}<br><span class="stat-name">GOALS</span></td>
        <td class="stat-text">{{vini.clubGoals}}<br><span class="stat-name">GOALS</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{mbappe.clubAssists}}<br><span class="stat-name">ASSISTS</span></td>
        <td class="stat-text">{{haaland.clubAssists}}<br><span class="stat-name">ASSISTS</span></td>
        <td class="stat-text">{{vini.clubAssists}}<br><span class="stat-name">ASSISTS</span></td>
      </tr>
    </tbody>
  </table>
  <button class="Dt-btnu"><a class="dynamic-link" href="club-stats">Detailed Stats</a></button>
  {{#if admin}}
  <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="club" table="all_time">UPDATE</button>
  {{/if}}
</div>

<div class="footer3-card" onclick="location.href='/club-stats/ucl'">
  <span>UEFA Champions League</span>
  <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container table-container-st" id="int">
  <h2 name="int" class="stat-title">ALL TIME INTERNATIONAL STATS</h2>
  <table class="Stats-table">
    <thead>
      <tr>
        <th class="stat-text">MBAPPE</th>
        <th class="stat-text">HAALAND</th>
        <th class="stat-text">VINICIUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="stat-text">{{mbappe.intGames}}<br><span class="stat-name">GAMES</span></td>
        <td class="stat-text">{{haaland.intGames}}<br><span class="stat-name">GAMES</span></td>
        <td class="stat-text">{{vini.intGames}}<br><span class="stat-name">GAMES</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{mbappe.intGoals}}<br><span class="stat-name">GOALS</span></td>
        <td class="stat-text">{{haaland.intGoals}}<br><span class="stat-name">GOALS</span></td>
        <td class="stat-text">{{vini.intGoals}}<br><span class="stat-name">GOALS</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{mbappe.intAssists}}<br><span class="stat-name">ASSISTS</span></td>
        <td class="stat-text">{{haaland.intAssists}}<br><span class="stat-name">ASSISTS</span></td>
        <td class="stat-text">{{vini.intAssists}}<br><span class="stat-name">ASSISTS</span></td>
      </tr>

    </tbody>
  </table>
  <button class="Dt-btnu"><a class="dynamic-link" href="int-stats">Detailed Stats</a></button>
  {{#if admin}}
  <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="int" table="all_time">UPDATE</button>
  {{/if}}
</div>

<div class="footer3-card" onclick="location.href='/int-stats/wc'">
  <span>World Cup</span>
  <span class="footer2-arrow">&#8594;</span>
</div>

<div class="table-container">
  <h2 name="" class="stat-title">INDIVIDUAL AWARDS & ACHIEVEMENTS</h2>
  <table class="Stats-table">
    <thead>
      <tr>
        <th class="stat-text">MBAPPE</th>
        <th class="stat-text">HAALAND</th>
        <th class="stat-text">VINICIUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="stat-text">{{ mbappe_ach.bdor }}<br><span class="stat-name">BALLON D’OR</span></td>
        <td class="stat-text">{{ haaland_ach.bdor }}<br><span class="stat-name">BALLON D’OR</span></td>
        <td class="stat-text">{{ vini_ach.bdor }}<br><span class="stat-name">BALLON D’OR</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.fbest }}<br><span class="stat-name">FIFA BEST</span></td>
        <td class="stat-text">{{ haaland_ach.fbest }}<br><span class="stat-name">FIFA BEST</span></td>
        <td class="stat-text">{{ vini_ach.fbest }}<br><span class="stat-name">FIFA BEST</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.fwxi }}<br><span class="stat-name">FIFA FIFPRO WORLD XI</span></td>
        <td class="stat-text">{{ haaland_ach.fwxi }}<br><span class="stat-name">FIFA FIFPRO WORLD XI</span></td>
        <td class="stat-text">{{ vini_ach.fwxi }}<br><span class="stat-name">FIFA FIFPRO WORLD XI</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.ubest }}<br><span class="stat-name">UEFA BEST</span></td>
        <td class="stat-text">{{ haaland_ach.ubest }}<br><span class="stat-name">UEFA BEST</span></td>
        <td class="stat-text">{{ vini_ach.ubest }}<br><span class="stat-name">UEFA BEST</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.egboot }}<br><span class="stat-name">EUROPEAN GOLDEN BOOT</span></td>
        <td class="stat-text">{{ haaland_ach.egboot }}<br><span class="stat-name">EUROPEAN GOLDEN BOOT</span></td>
        <td class="stat-text">{{ vini_ach.egboot }}<br><span class="stat-name">EUROPEAN GOLDEN BOOT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.uclpott }}<br><span class="stat-name">UCL POTT</span></td>
        <td class="stat-text">{{ haaland_ach.uclpott }}<br><span class="stat-name">UCL POTT</span></td>
        <td class="stat-text">{{ vini_ach.uclpott }}<br><span class="stat-name">UCL POTT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.uclypott }}<br><span class="stat-name">UCL YOUNG POTT</span></td>
        <td class="stat-text">{{ haaland_ach.uclypott }}<br><span class="stat-name">UCL YOUNG POTT</span></td>
        <td class="stat-text">{{ vini_ach.uclypott }}<br><span class="stat-name">UCL YOUNG POTT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.uclts }}<br><span class="stat-name">UCL TOP SCORER</span></td>
        <td class="stat-text">{{ haaland_ach.uclts }}<br><span class="stat-name">UCL TOP SCORER</span></td>
        <td class="stat-text">{{ vini_ach.uclts }}<br><span class="stat-name">UCL TOP SCORER</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.wcpott }}<br><span class="stat-name">WC POTT</span></td>
        <td class="stat-text">{{ haaland_ach.wcpott }}<br><span class="stat-name">WC POTT</span></td>
        <td class="stat-text">{{ vini_ach.wcpott }}<br><span class="stat-name">WC POTT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.wcypott }}<br><span class="stat-name">WC YOUNG POTT</span></td>
        <td class="stat-text">{{ haaland_ach.wcypott }}<br><span class="stat-name">WC YOUNG POTT</span></td>
        <td class="stat-text">{{ vini_ach.wcypott }}<br><span class="stat-name">WC YOUNG POTT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.cupott }}<br><span class="stat-name">COPA/EURO POTT</span></td>
        <td class="stat-text">{{ haaland_ach.cupott }}<br><span class="stat-name">COPA/EURO POTT</span></td>
        <td class="stat-text">{{ vini_ach.cupott }}<br><span class="stat-name">COPA/EURO POTT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.cuypott }}<br><span class="stat-name">COPA/EURO YOUNG POTT</span></td>
        <td class="stat-text">{{ haaland_ach.cuypott }}<br><span class="stat-name">COPA/EURO YOUNG POTT</span></td>
        <td class="stat-text">{{ vini_ach.cuypott }}<br><span class="stat-name">COPA/EURO YOUNG POTT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.cuts }}<br><span class="stat-name">COPA/EURO TOP SCORER</span></td>
        <td class="stat-text">{{ haaland_ach.cuts }}<br><span class="stat-name">COPA/EURO TOP SCORER</span></td>
        <td class="stat-text">{{ vini_ach.cuts }}<br><span class="stat-name">COPA/EURO TOP SCORER</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.lpott }}<br><span class="stat-name">LEAGUE POTT</span></td>
        <td class="stat-text">{{ haaland_ach.lpott }}<br><span class="stat-name">LEAGUE POTT</span></td>
        <td class="stat-text">{{ vini_ach.lpott }}<br><span class="stat-name">LEAGUE POTT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.lypott }}<br><span class="stat-name">LEAGUE YOUNG POTT</span></td>
        <td class="stat-text">{{ haaland_ach.lypott }}<br><span class="stat-name">LEAGUE YOUNG POTT</span></td>
        <td class="stat-text">{{ vini_ach.lypott }}<br><span class="stat-name">LEAGUE YOUNG POTT</span></td>
      </tr>
      <tr>
        <td class="stat-text">{{ mbappe_ach.lts }}<br><span class="stat-name">LEAGUE GOLDEN BOOT</span></td>
        <td class="stat-text">{{ haaland_ach.lts }}<br><span class="stat-name">LEAGUE GOLDEN BOOT</span></td>
        <td class="stat-text">{{ vini_ach.lts }}<br><span class="stat-name">LEAGUE GOLDEN BOOT</span></td>
      </tr>

    </tbody>
  </table>

  {{#if admin}}
  <button name="int" class="Dt-btn" onclick="toggleModal(this)" data-stat="" table="all_time">UPDATE</button>
  {{/if}}
</div>

{{>sts-update}}



<script>

  const tabs = document.querySelectorAll('.tab');
  const contents = document.querySelectorAll('.content');

  tabs.forEach(tab => {
    tab.addEventListener('click', () => {
      // Toggle tab active state
      tabs.forEach(t => t.classList.remove('active'));
      tab.classList.add('active');

      // Show the correct content
      contents.forEach(content => content.classList.remove('active'));
      const target = tab.dataset.target;
      const activeContent = document.getElementById(target);
      if (activeContent) {
        activeContent.classList.add('active');
      }
    });
  });



  document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll("a.dynamic-link");
    const basePath = window.location.pathname.replace(/\/$/, ""); // Remove trailing /

    links.forEach(link => {
      const originalHref = link.getAttribute("href");

      // If it's already absolute or an external link, skip
      if (originalHref.startsWith("http") || originalHref.startsWith("/")) return;

      // Update href to include current path
      link.setAttribute("href", `${basePath}/${originalHref}`);
    });
  });


</script>



<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
  // REAL DATA FROM BACKEND
  const graphData = {{{ json graph }}};

  let seasonMode = "season";
  let statType = "goals";

  /* Dummy DATA (replace with your real stats later) */


  function randomCumulative(matches, probability) {
    let arr = [];
    let sum = 0;
    for (let i = 0; i < matches; i++) {
      if (Math.random() < probability) sum++;
      arr.push(sum);
    }
    return arr;
  }

  function getCurrentData() {
    return {
      mbappe: seasonMode === "season"
        ? graphData.mbappe.season[statType]
        : graphData.mbappe.allTime[statType],

      haaland: seasonMode === "season"
        ? graphData.haaland.season[statType]
        : graphData.haaland.allTime[statType],

      vinicius: seasonMode === "season"
        ? graphData.vinicius.season[statType]
        : graphData.vinicius.allTime[statType]
    };
  }


  function getCategories() {
    const sample = seasonMode === "season"
      ? graphData.mbappe.season.goals
      : graphData.mbappe.allTime.goals;

    return sample.map((_, i) => i + 1);
  }


  function formatStatName(stat) {
    if (stat === "goals") return "Goals";
    if (stat === "assists") return "Assists";
    if (stat === "gplus") return "G+";
    return "Stat";
  }


  /* --- APEXCHART SETUP --- */
  var options = {
    chart: {
      type: 'line',
      height: 500,
      background: '#1A1A1A',
      toolbar: { show: false },
      zoom: { enabled: false }   // <— THIS KILLS ZOOM FOREVER
    },
    stroke: { width: 3, curve: 'smooth' },
    colors: ["#FF4655", "#00D9FF", "#FFD700"],
    grid: {
      borderColor: '#333',
      xaxis: {
        lines: { show: true }   // NO 300 LINES ANYMORE
      },
      yaxis: {
        lines: { show: true }    // Keep horizontal lines
      }
    },
    tooltip: {
      enabled: true,
      shared: true,
      intersect: false,
      custom: function ({ series, seriesIndex, dataPointIndex, w }) {

        const labels = ["Haaland", "Mbappé", "Vinícius"];
        const colors = ["#FF4655", "#00D9FF", "#FFD700"];

        // DYNAMIC STAT NAME
        const statNames = {
          goals: "Goals",
          assists: "Assists",
          gplus: "G+"
        };
        let statLabel = statNames[statType];   // <--- DYNAMIC

        let match = w.globals.seriesX[0][dataPointIndex];

        let html = `
    <div class="mhv-tooltip-box">
      <div class="mhv-tooltip-title">Matches ${match}</div>
  `;

        for (let i = 0; i < series.length; i++) {
          let rawVal = series[i][dataPointIndex];
          let val = (rawVal === undefined || rawVal === null) ? "None" : rawVal;


          html += `
      <div class="mhv-tooltip-row">
       
        <span class="mhv-tooltip-label" style="color:${colors[i]}">${labels[i]}:</span>
        <span class="mhv-tooltip-value" style="color:${colors[i]}">
  ${val}${val === "None" ? "" : " " + statLabel}
</span>

      </div>
    `;
        }

        html += `</div>`;
        return html;
      }

    },
    legend: {
      position: "bottom",
      horizontalAlign: "center",
      fontSize: "16px",

      labels: {
        colors: "#ddd"        // default text color (fallback)
      },

      markers: {
        show: false           // <--- REMOVE THE ICON COMPLETELY
      },

      formatter: function (seriesName, opts) {
        // get color of corresponding line
        const color = opts.w.globals.colors[opts.seriesIndex];

        // return custom text matching line color
        return `<span class="legend-text" style="
      color: ${color};
      font-weight: 100 !important;
      padding: 0 0px;
      font-size: 15px;
    ">${seriesName}</span>`;
      }
    },
    xaxis: {
      type: "numeric",
      min: 1,
      max: seasonMode === "season" ? 38 : 300,
      tickAmount: 40,
      tickPlacement: "between",     // <--- THE FIX
      labels: {
        style: { colors: "#ccc" },
        formatter: (v) => Math.round(v)
      },
      axisBorder: {
        show: true,
        color: "#444",
        height: 2
      },
      axisTicks: { show: false },
      title: {
        text: "Matches", style: {
          color: "#ccc", fontSize: "14px",
          fontWeight: 400,
        }
      }
    },
    yaxis: {
      labels: {
        style: { colors: "#ccc" }
      },

      axisBorder: {
        show: true,
        color: "#444",
        width: 2        // <--- THICK LEFT LINE
      },

      axisTicks: { show: false },

      title: {
        text: formatStatName(statType),
        style: {
          color: "#ccc", fontSize: "14px",
          fontWeight: 400,
        }
      }
    },
    series: [
      { name: "Haaland", color: "#FF4655", data: getCurrentData().haaland },
      { name: "Mbappé", color: "#00D9FF", data: getCurrentData().mbappe },
      { name: "Vinícius", color: "#FFD700", data: getCurrentData().vinicius }
    ]
  };

  function setActiveStatButton(activeId) {
    document.querySelectorAll("#statToggle .toggle-btn")
      .forEach(btn => btn.classList.remove("active"));

    document.getElementById(activeId).classList.add("active");
  }


  var chart = new ApexCharts(document.querySelector("#progressGraph"), options);
  chart.render();

  /* --- TOGGLE BUTTON LOGIC --- */
  function activate(btnId, group) {
    document.querySelectorAll(group).forEach(b => b.classList.remove("active"));
    document.getElementById(btnId).classList.add("active");
  }

  document.getElementById("seasonBtn").onclick = () => {
    seasonMode = "season";
    activate("seasonBtn", ".toggle-box:nth-of-type(1) .toggle-btn");
    updateGraph();
  };

  document.getElementById("allTimeBtn").onclick = () => {
    seasonMode = "allTime";
    activate("allTimeBtn", ".toggle-box:nth-of-type(1) .toggle-btn");
    updateGraph();
  };

  document.getElementById("goalsBtn").onclick = () => {
    statType = "goals";
    setActiveStatButton("goalsBtn");
    updateGraph();
  };

  document.getElementById("gplusBtn").onclick = () => {
    statType = "gplus";
    setActiveStatButton("gplusBtn");
    updateGraph();
  };

  document.getElementById("assistsBtn").onclick = () => {
    statType = "assists";
    setActiveStatButton("assistsBtn");
    updateGraph();
  };

  function updateGraph() {
    let data = getCurrentData();

    // Fade-out before updating
    const wrapper = document.getElementById("chartWrapper");
    wrapper.classList.add("fade-out");

    setTimeout(() => {

      // Only update data and scale (FASTEST, CLEANEST)
      chart.updateOptions({
        xaxis: {
          min: 1,
          max: seasonMode === "season" ? 38 : 300,
        }
      }, false, true);

      chart.updateOptions({
        yaxis: {
          title: {
            text: formatStatName(statType),   // <-- DYNAMIC Y-AXIS TITLE
            style: {
              color: "#ccc",
              fontSize: "14px",
              fontWeight: 400
            }
          }
        }
      }, false, true);


      chart.updateSeries([
        { name: "Haaland", data: data.haaland },
        { name: "Mbappé", data: data.mbappe },
        { name: "Vinícius", data: data.vinicius }
      ]);



      // Fade-in after update
      wrapper.classList.remove("fade-out");

    }, 50);
  }


  document.addEventListener("mouseover", function (e) {
    if (e.target.dataset && e.target.dataset.color) {
      e.target.style.color = e.target.dataset.color;
      e.target.style.background = e.target.dataset.color;
    }
  });

</script>